* {
    margin: 0;
	padding: 0;
}
.logo-1{
    width: 50%;
    height: 50%;
}

.list-1{
    list-style: none;
}


h1 {
    margin-top: 10%;
}
.footer-text{
    list-style: none;
}

.icons-footer{
    width: 20px;
}

.subtitle-footer{
    text-align:justify;
    margin-left: 10%;
}

#button-lightbox{
    border-radius: 50px;
    border-color:#FF4B63;
    font-weight: bold;
    padding: 10px 20px 10px 20px;
}

#button-lightbox:hover{
    background-color: white;
    border-color: 1px solid #FF4B63;
    color:#FF4B63
    
}

#nav-button{
    border-radius: 50px;
}

.button-1{
    background-color: #8F5CE3;
    color: white;
    border: 0px;
    padding: 7px 15px 5px 15px;
    font-size:x-large;
}

.button-1:hover{
    background-color: white;
    color: #919191;
}

#calender{
    margin-left: 3%;

}


.icons-1{
    width: 20px;
}



.viñeta{
    width: 20px;
    height: 20px;
}

.view-1{
    margin-top: 10%;
}



