* {
    margin: 0;
	padding: 0;
    text-align: center;
}

.col-3 {
    background-color: aquamarine;
    font-family: 'open sans';
}

.col-6 {
    background-color: blue; 
}

.imagent {
    width: 80%;
    height: 90%;
}

.footer-text{
    list-style: none;
    text-align: justify;
}

.subtitle-footer{
    text-align:justify;
    margin-left: 10%;
}
    

